# Problema2


Lea el archivo 'winemag-data-130k-v2.csv' y realice lo siguiente:

- Explore el dataframe según lo visto en clase
- Realice al menos  4 renombre de columna y 3 creación de nuevas columnas según criterio. Deberá crear las columnas que crea conveniente. 
    Ejemplo: Según el país etiquetelos según continente.

- Genere 4 reportes por agrupamiento de datos. Deberá elegir que reportes realizar
    - Ejemplo: Por contienente mostrar los vinos mejor puntuados
    - Ejemplo2: Promedio de precio de vino y cantidad de reviews obtenidos según pais. Ordenado de mejor a peor 


- Al menos uno de estos datos agrupados deberán ser almacenados en excel o csv
   
   Puede revisar esta solución https://stackoverflow.com/questions/25789264/pandas-dataframegroupby-export-to-excel



### Datos 

winemag-data-130k-v2.csv
- https://github.com/gdelgador/ProgramacionPython202401/blob/main/Modulo5/src/winemag-data-130k-v2.csv

País según continente:
- https://gist.githubusercontent.com/kintero/7d1db891401f56256c79/raw/a61f6d0dda82c3f04d2e6e76c3870552ef6cf0c6/paises.csv

In [2]:
import pandas as pd
import openpyxl
df_winemag = pd.read_csv("./data/winemag-data-130k-v2.csv")

In [3]:
df_winemag.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [4]:
df_winemag.shape

(65499, 14)

In [5]:
df_winemag.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [7]:
df_winemag.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [8]:
df_winemag.tail(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65496,65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [4]:
# renombrado de columnas

# {'old_colname': 'new_colname'}
df_rename = df_winemag.rename(columns={'Unnamed: 0': 'index', 'country':'pais', 'points':'puntos', 'taster_twitter_handle':'taster_twitter', 'winery':'bodegas'})
df_rename.head(3)

,index,pais,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [5]:
# Función para aplicar la transformación
def cambiar_US(valor):
    if valor == 'US':
        return 'United States of America'
    else:
        return valor

# Aplicar la función a la columna 'pais' y crear la nueva columna 'paisf'
df_rename['paisf'] = df_rename['pais'].apply(cambiar_US)

#PRIMER COLUMNA CREADA
df_rename.head(3)

,index,pais,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Italy
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Portugal
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,United States of America

In [6]:
df_rename = df_rename.drop(['pais'], axis=1)
df_rename.head(3)

,index,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf
0,0,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Italy
1,1,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Portugal
2,2,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,United States of America

In [7]:
url = 'https://gist.githubusercontent.com/kintero/7d1db891401f56256c79/raw/a61f6d0dda82c3f04d2e6e76c3870552ef6cf0c6/paises.csv'
df_pais_conti = pd.read_csv(url)
df_pais_conti.head()

       nombre         name          nom  iso2  iso3  phone_code continente
0  Afganistán  Afghanistan  Afghanistan    AF   AFG          93       Asia
1     Albania      Albania      Albanie    AL   ALB         355     Europa
2    Alemania      Germany    Allemagne    DE   DEU          49     Europa
3     Algeria      Algeria      Algérie    DZ   DZA         213     África
4     Andorra      Andorra      Andorra    AD   AND         376     Europa

In [13]:
df_pais_conti.columns

Index(['nombre', ' name', ' nom', ' iso2', ' iso3', ' phone_code',
       'continente'],
      dtype='object')

In [8]:
df_pais_conti = df_pais_conti.drop(['nombre'], axis=1)
df_pais_conti = df_pais_conti.drop([' nom', ' iso2', ' iso3', ' phone_code'], axis=1)
df_pais_conti=df_pais_conti.rename(columns={' name':'pais'})
#df_pais_conti.columns

df_pais_conti.head()

          pais continente
0  Afghanistan       Asia
1      Albania     Europa
2      Germany     Europa
3      Algeria     África
4      Andorra     Europa

In [9]:
df_combinado = pd.merge(df_rename, df_pais_conti, how="left", left_on="paisf", right_on="pais")
#SEGUNDA COLUMNA CREADA
df_combinado.head(3)

,index,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf,pais,continente
0,0,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Italy,Italy,Europa
1,1,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Portugal,Portugal,Europa
2,2,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,United States of America,United States of America,América

In [10]:
def grado_precio(valor):
    if valor < 30:
        return 'barato'
    elif valor>= 30 and valor<60:
        return 'moderado'
    elif valor>=60:
        return 'caro'
    else:
        return 'no disponible'

df_combinado['rango_precio'] = df_combinado['price'].apply(grado_precio)
df_final = df_combinado.drop(['pais'], axis=1)

#TERCERA COLUMNA CREADA
df_final.head(3)

,index,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf,continente,rango_precio
0,0,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Italy,Europa,no disponible
1,1,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Portugal,Europa,barato
2,2,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,United States of America,América,barato

In [15]:
# REPORTE POR AGRUPAMIENTO DE DATOS N°1

# Filtrar el DataFrame por continente
def mejores_vinos_por_continente(df, continente):
    condicion = df['continente'] == continente
    df_agrup1 = df[condicion]
    
    # Ordenar los vinos por puntuación en orden descendente
    df_agrup1 = df_agrup1.sort_values(by='puntos', ascending=False)
    
    return df_agrup1.head(3)



print("Mejores vinos en América:")
mejores_vinos_por_continente(df_final, 'América')

Mejores vinos en América:

,index,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf,continente,rango_precio
45798,45798,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,California,Napa Valley,Napa,NaN,NaN,Cardinale 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Cardinale,United States of America,América,caro
1556,1556,The flagship wine from Quilceda Creek offers e...,NaN,99,125.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Quilceda Creek 2008 Cabernet Sauvignon (Columb...,Cabernet Sauvignon,Quilceda Creek,United States of America,América,caro
47428,47428,In a vintage that produced the finest overall ...,En Chamberlin Vineyard,99,75.0,Oregon,Walla Walla Valley (OR),Oregon Other,Paul Gregutt,@paulgwine,Cayuse 2009 En Chamberlin Vineyard Syrah (Wall...,Syrah,Cayuse,United States of America,América,caro

In [29]:
# REPORTE AGRUPAMIENTO DE DATOS N°2

# Agrupar el DataFrame por país y calcular el promedio de precio y la suma de reviews
df_agrup2 = df_final.groupby(['paisf']).agg({'price': 'mean', 'puntos': 'sum'})

# Ordenar los resultados por el promedio de precio en orden descendente
df_agrup2 = df_agrup2.sort_values(by='puntos', ascending=False)

print("Promedio de precio de vino y cantidad de reviews por país (ordenado de mejor a peor):")
df_agrup2.head()

Promedio de precio de vino y cantidad de reviews por país (ordenado de mejor a peor):

                              price   puntos
paisf
United States of America  36.344889  2406689
France                    41.577949   993050
Italy                     39.739836   886107
Spain                     27.875925   297468
Portugal                  25.647360   261142

In [19]:
# REPORTE AGRUPAMIENTO DE DATOS N°3

condicion = df_final['paisf'] == 'Peru'
df_agrup3 = df_final[condicion].sort_values('price', ascending=False)
df_agrup3.head(3)

,index,description,designation,puntos,price,province,region_1,region_2,taster_name,taster_twitter,title,variety,bodegas,paisf,continente,rango_precio
37948,37948,"At first, this blend of Cabernet Sauvignon, Ta...",Valle del Sol No 1 Gran Reserva,85,68.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2010 Valle del Sol No 1 Gran Reserva...,Red Blend,Intipalka,Peru,América,caro
63521,63521,"Earthy, warm and ripe on the bouquet, with a b...",Sinfonía Tannat-Malbec-Petit Verdot,86,20.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Sinfonía Tannat-Malbec-Petit Verdo...,Red Blend,Tacama,Peru,América,barato
23537,23537,Earthy plum and blackberry aromas are crisp an...,Valle del Sol Reserva,85,17.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2012 Valle del Sol Reserva Malbec-Me...,Malbec-Merlot,Intipalka,Peru,América,barato

In [51]:
# REPORTE AGRUPAMIENTO DE DATOS N°4
condicion = df_final['puntos'] >= 70
df_agrup4 = df_final[condicion][ ['index', 'description', 'designation', 'puntos', 'price', 'paisf'] ] 
df_agrup4 = df_agrup4.sort_values('puntos', ascending=True)
df_agrup4

,index,description,designation,puntos,price,paisf
34501,34501,"Neutral aromas, sour apple and citrus flavors,...",NaN,80,6.0,Chile
48891,48891,"Vegetal and dry, this Rhône-style blend of Syr...",The Gem,80,16.0,United States of America
48892,48892,"The official alcohol is under 14%, but the win...",Tombs Creek Vineyard,80,29.0,United States of America
48893,48893,"Heavy as dead weight, with a raisiny nose. Onl...",Family Selection,80,14.0,Chile
48894,48894,It's been an uphill battle for Pietra Santa wi...,NaN,80,18.0,United States of America
...,...,...,...,...,...,...
45798,45798,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,United States of America
45781,45781,"This gorgeous, fragrant wine opens with classi...",Riserva,100,550.0,Italy
58352,58352,"This is a magnificently solid wine, initially ...",NaN,100,150.0,France
345,345,This wine contains some material over 100 year...,Rare,100,350.0,Australia
36528,36528,This is a fabulous wine from the greatest Cham...,Brut,100,259.0,France

In [84]:
# REPORTE AGRUPAMIENTO DE DATOS N°5

def seleccionar_mejor_vino(df_):
    # Ordenar el grupo por puntuación y luego por precio de manera descendente
    df_funcion = df_.sort_values(by=['puntos', 'price'], ascending=[False, False])
    # Seleccionar el primer vino (iloc para seleccionar la posicion 0 de esa lista)
    df_devolver = df_funcion.iloc[0]
    return df_devolver


df_agrup5 = df_final.sort_values(by='paisf')

df_agrup5 = df_agrup5.groupby('paisf').apply(seleccionar_mejor_vino)

df_agrup5 = df_agrup5[ ['description', 'puntos', 'price', 'variety', 'bodegas'] ]
df_agrup5.head()

,description,puntos,price,variety,bodegas
paisf,,,,,
Argentina,If you love massive Argentine reds with purity...,95,74.0,Cabernet Sauvignon-Malbec,Pascual Toso
Armenia,"Medium straw in the glass, this wine has a nos...",87,14.0,Kangoun,Van Ardi
Australia,This wine contains some material over 100 year...,100,350.0,Muscat,Chambers Rosewood Vineyards
Austria,Candied lime and lemon zest are bathed in the ...,97,95.0,Scheurebe,Kracher
Bosnia and Herzegovina,"Toasted oak and cedar notes meld into lush, ri...",85,13.0,Vranec,Winery Čitluk

In [85]:
#Guardar en csv
df_agrup5.to_csv('data\mejores_vinos_por_pais.csv', sep= '|', encoding='utf-8', index=False)
#Guardar en excel
df_agrup5.to_excel('data\mejores_vinos_por_pais.xlsx', index='MejoresxPais')